<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="bootstrap.php"
		 strict="true"
		 colors="true">
		 
	<testsuites>
		<testsuite name="Recipe Finder">
			<directory>tests/models</directory>
		</testsuite>
	</testsuites>
	
	<filter>
  		<blacklist>
  		    <file>tests</file>
  		</blacklist>
  	</filter>
 	 
	<logging>
		<log type="coverage-html" target="logs/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
		<log type="junit" target="logs/logfile.xml" logIncompleteSkipped="false"/>
	</logging>
	
	<php>
	    <const name="PHPUNIT_RUNNING" value="1"/>
	</php>
</phpunit>